:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

body {
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
            'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1em;
        line-height: 1.5;
        color: black;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.header {
    position: absolute;
}

.container-header {
    position: relative;
}
.search-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery,
.info {
    display: flex;
    flex-wrap: wrap;
}

.gallery-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;

}

.gallery {
    margin-left: -20px;
    padding-top: 60px;
    justify-content: center;
}

.gallery__item {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: 2px solid rgb(241, 238, 238);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}

.gallery__item:hover,
.gallery__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery__image {
    display: block;
    height: 30vh;
    object-fit: cover;
}

.info {
    padding: 10px;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.info-item:not(:first-child) {
    margin-left: 5px;
}
.search-container {
    margin-top: 20px;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
    width: 400px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas {
    color: #5cbdbb;
}

.search-btn {
    background-color: transparent;
    border: 0;
}
@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

.search-container:hover {
    animation: hoverShake 0.15s linear 3;
}


/* loading */


@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

.container-loading {
    display: flex;
    justify-content: center;
}

.pulse-container {
    opacity: 0;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.pulse-container.show {
    opacity: 1;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef9e1c;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

/* variant loading 2 */

/* .loading {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .3s ease-in;
}

.loading.show {
    opacity: 1;
}

.ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
    animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
} */


/* btn to top */

.btn-to-top {
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f8b007;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    color: #ffffff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.btn-to-top--visible {
    opacity: 1;
    visibility: visible;
    
}

.btn-to-top:hover {
    background-color: #2b3e88;
    transition: all 0.3s;
}


/* btn-on-load more */

/* .load {
    display: flex;
    justify-content: center;
}

.btn__load-more {
    color: #5cbdbb;
    font-size: 20px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2),
            inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.btn__load-more:hover{
    animation: hoverShake 0.15s linear 3;
}

.is-hiden {
    display: none;
} */